@model IEnumerable<SangalTec.Bunsiness.Dtos.UsuarioDto>


    <div align="center" >
        <h1>Sea Bienvenido...</h1>

        <img src="~/adminlte/dist/img/logosangal2.png" alt="Alternate Text" />
    </div>