.main-header {
    background-color: #C6D4EE !important
}

.navbar-nav > li > a > i {
    color: black !important
}

.navbar-nav {
    color: black !important
}

    .navbar-nav > li > a {
        color: #A81A13 !important
    }

.main-sidebar {
    background-color: #BACBEC !important
}

.navbar-nav > li > a > i {
    color: black !important
}

.main-sidebar > a > span {
    color: black !important
}

.nav-item > a > p {
    color: black !important
}

.content-wrapper {
    background-color: #E9EFFA !important
}

.nav-link {
    color: black !important
}