@model SangalTec.Bunsiness.Dtos.LoginDto
@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SangalTec Iniciar Sesion</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->


    <link href="~/css/login.css" rel="stylesheet" />

</head>


<body>
    <div class="login">
        <div class="login-screen">

            <a asp-controller="Admin" asp-action="Dashboard">
                <div class="app-title">
                    <img src="~/adminlte/dist/img/logosangal2.png" alt="Alternate Text" width="150" height="150" />
                </div>
            </a>

            <form asp-action="Login" asp-controller="Usuarios" class="form">
                <div class="login-form">
                    <div class="contenedor-form">
                        <input id="login-name" asp-for="Email" class="login-field" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="login-form">
                    <div class="contenedor-form">
                        <input id="login-pass" asp-for="Password" class="login-field" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>


                <div class="boton">
                    <div class="">
                        <button type="submit" class="btn btn-primary btn-large btn-block boton-form boton-iniciarSesion">Iniciar sesión</button>
                    </div>
                    <br />
                    <div class="">
                        <a style="text-align:center" content asp-action="OlvidePassword" class="btn btn-secondary btn-block boton-form boton-recorContraseña"> Olvide contraseña </a>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

</body>
</html>
