@model SangalTec.Bunsiness.Dtos.LoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SangalTec Olvide Contraseña</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->


    <link href="~/css/login.css" rel="stylesheet" />

</head>
<body>
    <div class="login">
        <div class="login-screen">
      
                <div class="app-title">
                    <h3>¿Olvidaste tu contraseña?</h3>
                    <p>Ingresa aqui tu email y te enviaremos un correo para realizar la el cambio de contraseña</p>
                </div>

            <form asp-action="OlvidePassword" class="form">
                <div class="login-form">
                    <div class="contenedor-form">
                        <input id="login-name" asp-for="Email" class="login-field" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <input asp-for="RecordarMe" type="hidden" />

                <div class="boton">
                    <div class="">
                        <button type="submit" class="btn btn-primary btn-large btn-block boton-form boton-iniciarSesion">Recuperar Contraseña</button>
                    </div>
                    <br />
                </div>

            </form>

        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

</body>
</html>

