@model SangalTec.Bunsiness.Dtos.ResetearPasswordDto
@{
    Layout = null;

}
<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SangalTec Recuperar Contraseña</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/adminlte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/adminlte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->


    <link href="~/css/login.css" rel="stylesheet" />

</head>


<body>
    <div class="login">
        <div class="login-screen">

            <div class="app-title">
                <h3>Restaurar Contraseña</h3>
            </div>

            <form asp-action="ResetearPassword" method="post" class="form">

                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />

                <div class="login-form">
                    <div class="contenedor-form">
                        <input id="login-pass" asp-for="Password" class="login-field" placeholder="Ingrese la nueva contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="login-form">
                    <div class="contenedor-form">
                        <input id="login-pass" asp-for="ConfirmarPassword" class="login-field" placeholder="Confirme la nueva contraseña">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>

                    </div>
                    <span asp-validation-for="ConfirmarPassword" class="text-danger"></span>
                </div>

                <div class="boton">
                    <button type="submit" class="btn btn-primary btn-large btn-block boton-form">Restaurar contraseña</button>
                </div>

            </form>

        </div>
    </div>

    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/adminlte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/combox.registro.es.js"></script>
    <script>
        @if(TempData["Mensaje"] != null && TempData["Accion"].ToString().Equals("Password")) { <text>
        alertify.alert('Contraseña inválida', "@TempData["Mensaje"]");
                 </text>
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

</body>
</html>